<div class="w-full h-full mt-10 flex flex-col items-center justify-center">

<!-- phone component -->

<form (ngSubmit)="onSubmit()" [formGroup]="form">

<lbgm-phone-input
 class="max-w-xs mt-4"
 [label]="'N° de téléphone'"
 [required]="true"
 [name]="'phone'"
 [group]="form"
 [controls]="form.controls"
 (phoneEvent)="input=$event"
 (phoneData)="inputData=$event"
 (country)="inputCountry=$event"
>
</lbgm-phone-input>

<button
  class="select-none w-full max-w-xs mt-4 block appearance-none outline-none px-4 py-2 text-white bg-blue text-center rounded-sm mx-auto active:shadow-md hover:opacity-50"
  type="submit"
>
  Valider
</button>

</form>


</div>